<a href="{% url 'addgoal' %}">Click here to create new goals</a>

<table>
  <tr>
    <th>User</th>
    <th>Weekly Goals</th>
    <th>Daily Goals</th> 
    <th>Verify Goals</th>
    <th>Done Goals</th>
  </tr>
  <tr>
    <td>
      {% for user in user %}
        {{user}}<br>
      {% endfor %}
    </td>
    <td>
      {% for goal in all_week %} 
        <a href="{% url 'move_goal' goal.goal_id %}>{{ goal.goal_name }} , {{goal.goal_id}}</a><br>
      {% endfor %}
    </td>
    <td>
      {% for goal in all_day %}
        <a href="{% url 'move_goal' goal.goal_id%}>{{goal.goal_name}} , {{goal.goal_id}}</a><br>
      {% endfor %}
    </td>
    <td>
      {% for goal in all_verify %}
        <a href="{% url 'move_goal' goal.goal_id%}>{{goal.goal_name}} , {{goal.goal_id}}</a><br>
      {% endfor %}
    </td>
    <td>
      {% for goal in all_done %}
        <a href="{% url 'move_goal' goal.goal_id%}>{{goal.goal_name}} , {{goal.id}}</a><br>
      {% endfor %}
    </td>
  </tr>
</table>
